<link rel="stylesheet" href="/assests/style.css">
<nav>
  <ul>
    <li class="nli"><a href="http://127.0.0.1:3000/home">Home</a></li>
    <li class="nli"><a href="http://127.0.0.1:3000/contact">Contact</a></li>
  </ul>s
</nav>
