<!DOCTYPE html>
<html>
<head>
	<title>AboutUs</title>
  <link rel="stylesheet" href="/assests/style.css">
  <%- include ('partials/nav.ejs'); %>
</head>
<body>
<h1 id="ch1">Contact Us</h1>

<div>Welcome Mr <%= qs.name %>, with regard to your current residence (<%= qs.addr%>), our nearest branch to is Iyana Adeoyo, Ring Road Ib. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</body>
</html>
