<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Success</title>
      <link rel="stylesheet" href="/assests/style.css">
  </head>
  <body>

    <h1>Registration Success</h1>

    <div>

      <ul>
      <li>Name: <%= det.name %></li>
      <li>Department: <%= det.department %></li>
      <li>Email: <%= det.email %></li>
      </ul>

    </div>


  </body>
</html>
