<!DOCTYPE html>
<html>
<head>
	<title>intropage</title>
	<style type="text/css">
		body{

			background: url(assets/f.jpg);
			color: white;

		}

		img.p1{
			width: 130px;
			height: 130px;

		}
		img.p2{
			width: 120%;
			height: 130px;
			margin-right: 300px;
		}
		table.t2{
			text-align: center;
			background: white;
			color: purple;
			border-radius: 8px;
			border: 7px solid purple;
		}
		div{
			color: white;
			font-family: cursive;
		}
		b{
			color: blue;
		}
		a:link{
			color: white;
			text-decoration: none;
		}
		a:active{
			color: purple;

		}
		a:visited{
			color: white;
			text-decoration: none;
		}


	</style>
<script type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
<table border="0">
	<tr>
		<td>
			<img class="p1" src="assets/el.png">
		</td>

		<td>
			<img class="p2" src="assets/ex.png">
		</td>

	</tr>
</table>
			<div align="center">
				<br>
				<br>
				<br>
				<br>
			<img src="assets/pp.jpg" style="width: 90px; height: 90px;"><br>
				<table style="text-align: left;">
					<b>Name:</b> <%= reg.surname %> <%= reg.firstname %><br>
				   	<b>Registration number:</b> <%=reg.regNo%> <br>
						<b>Gender:</b> <%= reg.gender %> <br>
				   	<b>Subject Combination:</b> Use of English|Chemistry|Physics|Mathematics
				</table><br>

				<table align="center" style="background-color: purple; border: 1px solid purple; border-radius: 5px;">
			<tr>
				<td style="color: white; background: red;">
					<a href="wlcm.html">Back</a>
				</td>

			</tr>
		</table>
		<br>
			<table align="center" style="background-color: purple; border: 1px solid purple; border-radius: 5px;">
			<tr>
				<td style="color: white; background: red;">
					<a href="Engpg.html">Start Exam</a>
				</td>

			</tr>
		</table>

			</div>

<a href="C:\Users\DSAT\Documents\Html general\Expertedu\expertedu.html" style="color: blue;">Home</a>

</body>
</html>
