<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
  <style media="screen">
    body{
      text-align: center;
      background-color: #444;
      color: #FFF;
      font-family: cursive;
    }
    #d1{
    	margin-top: 80px;
    	font-size: 30px;
    	font-weight: bold;
    }
    #d2{
    	margin-top: 15px;
    }
    #d3{
    	margin-top: 30px;
    }
    input{
    	background-color: #99F;
    	color: #FFF;
    	border-radius: 6px;
    	border: 1px purple;
    	font-family: sans-serif;
    	width: 250px;
    	height: 30px;
    }
  </style>
</head>
<body>

   <div id="d1">
   	 Welcome to <br>Registration Portal
   </div>

   <div id="d2">
   	To get started, kindly click<br>on the button below
   </div>

   <div id="d3">
   	<a href="/reg2"><input type="button" name="" value="Get Started =>"></a>
   </div>


</body>
</html>
