<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
<link rel="stylesheet" type="text/css" href="assets/style.css">
    </head>
    <body>
      <div class="conF">
        <div class="con">
    			<form id="lgform" method="post">
    					<img src="/assets/123.png">
    				</div>

    				<div class="scon" id="upcon">
    				<label>Username:</label>
    				<input type="text" name="username" class="field" id="usern" placeholder="Username">
    				<br><br>
    				<label>Password:</label>
    				<input type="password" class="field"  id="passw" name="password" placeholder="Password">
    				</div>
    				<div id="lgbut">
              <!-- <a><input type="button" id="tbut" value="Test" name=""></a> -->
    					<input type="submit" id="lbut" value="Login" name="">
    					<a href=""><input type="button" id="sbut" style="margin-left: 50%;" value="Sign up" name=""></a>
    				</div>
            <span><%= m.p %></span>
    			</form>
    		</div>
    	</div>
    </body>
    </html>
